.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
    width: 80%;
    margin: auto;
}

.grid-btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    background: #444;
    cursor: pointer;
    transition: transform 0.2s;
}

.grid-btn:hover {
    transform: scale(1.1);
    background: #666;
}
