<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artistes</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/page.css" />
</head>

<body>
    <nav class="top-nav">
        <a href="/">Accueil</a>
        <a href="/map">Map</a>
        <a href="/contact">Contact</a>
    </nav>

    
    <main>

    <!-- artist / BANNIÈRE -->
    <section class="art" style="background-image: url('{{.Image}}');">
        <h1 class="art-title">{{.Name}}</h1>
    </section>

        <!-- INFOS ARTISTE -->
        <section class="info-container">

            <button  type="button" class="info-btn">Members</button>
            <div class="info-content"><h1>{{range .Members}} {{.}}<br> {{end}}</h1></div>

            <button class="info-btn">Group Creation</button>
            <div class="info-content">{{.Creation}}</div>

            <button class="info-btn">First Album</button>
            <div class="info-content">{{.FirstAlbum}}</div>

            <button class="info-btn">Concerts</button>
<div class="info-content">
    {{if .Relations}}
        {{range $location, $dates := .Relations}}
            <strong> {{$location}}</strong><br>
            {{range $dates}}
                • {{.}}<br>
            {{end}}
            <br>
        {{end}}
    {{else}}
        Aucun concert programmé
    {{end}}
</div>

        </section>

</main>


</body>

</html>