<!DOCTYPE html>
<html lang="fr">

<!-- Creates the basic structure of a web page with a navigation menu. It links several CSS files to manage the style of the site. The navigation bar provides access to the Home, Artists, and Map pages. -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/page.css" />
</head>
<body>
        <nav class="top-nav">
        <a href="/">Accueil</a>
        <a href="/artistes">Artistes</a>
        <a href="/map">Map</a>
    </nav>
</body>
</html>